html{
    color: snow;
    background: black url('../photo/rose.png') no-repeat fixed;
    background-size: 10rem;
    background-position: right bottom;
}

img {
    max-width: 100%;
    max-height: 30rem;
    height: auto;
    display: block;
    margin: 0px auto;
}

.menubox {
    background: linear-gradient(slateblue, tomato);
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.menu {
 list-style: none;
 flex-grow: 1;
 text-align: center;
 font-size: x-large;
 font-weight: bold;
}

a {
    color: snow;
    text-decoration: none;
}

.text {
    width: 80%;
    margin: 0% 10%;
}

ol {
    color: brown
}

    #columns{
        column-width: 35rem;
        column-gap: 15rem;
    }
    #columns figure{
        display: inline-block;
        border: 0;
        margin: 0;
        margin-bottom: 15px;
        padding: 10px;
    }
     #columns figure img{
        width: 11rem;
    }
    #columns figure figcaption{
        border-top: 1px;
        padding: 10px;
        margin-top: 1px;
        text-align: center;
    }

iframe {
    padding: 1rem 0 1rem 0;
    background: linear-gradient(black 2%, #f6f6f6 10%, #f6f6f6 90%, black 98%);
}

footer {
    position: fixed;
    bottom:0rem;
    width:100%;
    list-style: none;
    color: snow;
    text-align: center; 
    font-size: small;
    }

#ver {
    text-align: right;
    margin-right: 1rem;
    font-size: x-small;
}

@media (max-width:760px){
    html{
    background-size: 5rem;
}
    
.menubox {
    width: 100%;
}
    
    .menu {
 font-size: 3.2rem;
    padding: 0.5rem;
}

    .text {
        font-size: xx-large;
            margin-bottom: 2rem;
    }
    

    #columns figure{
        font-size: 1rem;
        padding: 0px;
    }
    @media (max-width:385px){
        
    }
    
    
@media (max-width:250px){
    html{
    background-size: 5rem;
}
    
.menubox {
        width: 100%;
        flex-wrap: wrap;
    }
    
.menu {
 text-align: center;
 font-size: xx-large;
 font-weight: bold;
 padding: 0;
}
    
    /* 기본적으로 타이틀과 본문 중앙정렬임, 
artist.html, release.html : 왼쪽정렬로 묶고 타이틀만 id값으로 따로 다시 중앙정렬
기본 컬럼 텍스트 리딩이 중앙정렬이 좋아서 이렇게함*/
    
    #title {
    text-align: center;
}
    
    .text {
     text-align: center;
    width: 100%;
    margin: 0 0 50% 0;
}
    
    footer {
display: none;
    }